.freeplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  height: 100%;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100%;
}

.options-container {
  overflow-y: auto;
  height: auto;
  max-height: 45vh;
  margin-top: 20px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 5px;
  height: auto;
}

.assurance-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.setup-link {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  display: flex;
  padding: 15px;
  border: 1px solid #ccc;
  resize: none;
}

.option {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-right: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.assurance-container h3{
  text-align: center;
}

.freeplay-start-button, .freeplay-reset-button {
  width: 180px;
  height: 60px;
}

@media (max-width: 768px) {
  .freeplay {
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }

  .left-container, .right-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .right-container {
    margin-bottom: 0;
  }
}