.library {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../data/images/library.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1000px) {
  .library {
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px;
  }
}