.library {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
  font-family: 'Inter', sans-serif;
}

.library-list {
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-height: 50vh;
  overflow-y: auto;
  position: relative;
}

.MFA {
  padding: 20px;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MFA:hover {
  background-color: #00aaff;
  color: white;
}

.MFA.selected {
  background-color: #6c7b83;
  color: white;
}

@media (max-width: 1000px) {
  .library {
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }

  .library-list {
    width: 100%;
    margin-bottom: 20px;
    height: 35%;
  }
}