.header-container {
  margin: 0 auto;
  background: #f1f5fc;
  padding: 10px 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: 'Inter', sans-serif;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color:  #bd7912;
}
nav.header ul li a {
  position: relative;
}
nav.header ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.header ul li a:hover:after {
  width: 100%;
}

.header-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  max-width: 1500px;
  padding: 0;
  margin: 0;
}

.header-title {
  color: #464f6d;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.header-links {
  color: #464f6d;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.header-links.home-link{
  color: #1c7ce2;
}

.header-links.home-link:hover {
  color:  #12BD79;
}
