nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  text-transform: uppercase;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color:  #bd7912;
}
nav.header ul li a {
  position: relative;
}
nav.header ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.header ul li a:hover:after {
  width: 100%;
}

.header-title {
  color: #464f6d;
  justify-self: start;
  margin-left: 10vw;
  cursor: pointer;
  text-decoration: none;
  font-size: 3vh;
  display: flex;
  align-items: center;
}

.nav-section {
  justify-content: end;
  right: 0;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
  list-style: none;
  text-align: center;
  width: 1000px;
  justify-content: end;
  margin-right: 2rem;
  margin-left: 20px;
  font-size: 2rem;
  height: 100%;
}

.header-links {
  color: #464f6d;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.header-links.home-link{
  color: #1c7ce2;
}

.header-links.home-link:hover {
  color:  #12BD79;
}

/* Laptop */
@media (max-height: var(--laptop-height)) and (max-width: var(--laptop-width)) {
  .header-buttons {
    font-size: 1rem;
  }
}

/* Phone Sideways */
@media (max-height: var(--phone-width)) and (max-width: var(--phone-height)) {
  .header-buttons {
    font-size: 0.8rem;
  }
}