.footer {
  background: linear-gradient(90deg, #f1f5fc 0%, #f1f5fc 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
}