.primary-button {
  font-family: 'Inter', sans-serif;
  min-height: 50px;
  min-width: 100px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  background-color: #007bff;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #0056b3;
}

.primary-button:disabled {
  color: #666;
  background-color: #ccc;
  cursor: not-allowed;
}

.secondary-button {
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.secondary-button:hover {
  transition: all 250ms ease-out;
  background: #b8c1c7;
}