.tooltip-circle {
  text-align: center;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: grey;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
