.authentication-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.phone {
  width: 200px;
  height: 350px;
  border: 2px solid #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.phone-screen {
  width: 160px;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.sms-bubble {
  padding: 10px;
  background-color: #d9f7be;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.aa-button {
  background-color: #2196F3;
  color: white;
  border: none;
}