.email-container {
  width: fit-content;
  gap: 20px;
  padding: 20px;
  background-color: white;
}

.security-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.security-code input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 250px;
}

.email-window {
  width: 300px;
  height: 250px;
  position: relative;
  background-image: url('../../data/images/email.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.email-content {
  text-align: center;
  align-items: center;
  text-align: left;
  margin-top: 30px;
  padding: 20px;
  width: 260px;
}

.email-content .code {
  font-weight: bold;
  color: #007bff;
}

.email-content p {
  font-size: 11px;
  color: #333;
}

@media (max-height: 1200px) {
  .email-container {
    align-items: center;
  }
}

@media (max-width: 1000px) and (min-height: 820px) {
  .email-container {
    max-width: 80% !important;
    flex-direction: row !important;
    align-items: center !important;
  }
}