.fingerprint-container {
  margin: auto;
  overflow: auto;
}

.scan-container {
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 20px auto;
  background-color: white;
  overflow: hidden;
}

.green-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  transition: height 0.1s linear;
}

.text-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: black;
}