.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  padding: 20px;
  row-gap: 40px;
}

.start-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-height: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
}

.start-text-box {
  max-width: 70vw;
  min-width: 70vw;
  margin-bottom: 20px;
  padding: 20px;
}

.start-text-box h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.start-text-box p {
  margin: 0;
  line-height: 1.6;
}

.start-button {
  gap: 5px;
}

.start-mfa-button {
  color: white !important;
}

.start-mfa-button:hover {
  color: black !important;
}

.start-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 400px) {
  .start-buttons-container {
    flex-direction: column;
  }
}