.endscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70vh;
  gap: 20px;
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

.end-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vw;
  height: 45vh;
  max-height: 45vh;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.image {
  width: 35vw;
  max-width: 35vw;
  height: auto;
  max-height: 30vh;
  object-fit: contain;
}

.end-buttons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.freeplay-end-h2 {
  color: #333;
  margin-bottom: 10px;
}

.freeplay-end-p {
  align-items: center;
  color: #555;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .end-buttons {
    flex-direction: column;
  }
}