.endscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.end-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60vw;
  max-width: 500px;
  height: 50vh;
  max-height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
  background-color: white;
}

.end-buttons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.freeplay-end-h2 {
  color: #333;
  margin-bottom: 10px;
}

.freeplay-end-p {
  align-items: center;
  color: #555;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .end-buttons {
    flex-direction: column;
  }
}

@media (max-height: 500px) {
  .end-container {
    justify-content: start;
  }
}
