form {
  display: flex;
  flex-direction: row;
}

label {
  margin-bottom: 5px;
  margin-right: 7px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-container {
  height: 80%;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  gap: 20px;
  overflow-y: auto;
}

.password-section {
  width: 300px;
  height: 250px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
}

.login-section {
  width: 300px;
  height: 250px;
  background-color: #dbdfe2;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
}

.tooltip-circle-password {
  float: right;
  background-color: white;
}

.password-validation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.validation {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.valid {
  background-color: green;
}

.invalid {
  background-color: red;
}

@media (max-width: 1000px) and (min-height: 800px) {
  .password-container {
    height: 100%;
    max-width: 80%;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-height: 900px) {
  .password-container {
    align-items: start;
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .password-container {
    justify-content: start;
    flex-direction: column;
    overflow-x: scroll;
  }
}