form {
  display: flex;
  flex-direction: row;
}

label {
  margin-bottom: 5px;
  margin-right: 7px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container {
  width: 350px;
  margin: 20px auto;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.password-section {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.login-section {
  background-color: #dbdfe2;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.password-validation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.validation {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.valid {
  background-color: green;
}

.invalid {
  background-color: red;
}
