.questions-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-select-container label {
  font-size: 16px;
  font-weight: bold;
}

.questions-select-container input {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.questions-input-container {
  height: 300px !important;
  gap: 10px;
}

.questions-input-container label {
  font-size: 16px;
  font-weight: bold;
}

.questions-input-container input {
  width: 250px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}