.swipe-container {
  margin: auto;
  overflow: auto;
}

.sensor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  height: 125px;
  width: 125px;
  border: 2px solid gray;
  transition: background-color 0.1s linear;
  background-color: white;
}

.green-fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  transition: height 0.1s linear;
}

.draggable-card {
  margin-top: 50px;
  width: 100px;
  height: 50px;
  background-image: url('../../data/images/smart_card.jpg');
  cursor: move;
  z-index: 999;
}

