/* Contains code modified from tutorial by Code Radiance: https://www.youtube.com/watch?v=xJ_V55awyIo&t=76s&ab_channel=CodeRadiance */
.voice-container {
    gap: 20px;
    padding: 10px;
    background-color: white;
}

.voice-textarea {
    resize: none;
    height: 100px;
    min-height: 50px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0 10px;
}

.skip-button {
    font-family: 'Inter', sans-serif;
    height: 60px;
    width: 180px;
    padding: 16px 24px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.recording-button {
    color: white;
}



