.voice-container {
    gap: 20px;
    padding: 10px;
    background-color: white;
}

.voice-textarea {
    width: 300px;
    height: 100px;
    min-height: 50px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-area {
    gap: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.skip-button {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 16px 24px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    border-radius: 8px;
}

.recording-button {
    color: white;
}



